body{
    background-position: center;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1564648351416-3eec9f3e85de?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8a29zdGVubG9zZSUyMGJpbGRlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
}
/**Overlay**/
.overlay {
    margin-left: 25%;
    margin-right: 25%;
    opacity: 0.9;
    border-radius: 15px;
}
/**Container**/
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-bottom: 2px;
    font-size: 48px;
    text-shadow: 2px 2px 5px black;
}
#fast{
    color: whitesmoke;
    text-shadow: 2px 2px 5px black;
    margin-bottom: 10px;
    text-align: center;
}
.container h2 {
    color: blueviolet;

}
/**Forms**/
.form {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
.form-group {
    color: orange;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Quattrocento', serif;
}
/**Page-footer**/
.content-footer {
    text-align: center;
    font-size: 1.5rem;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_kmmGKLNz0ESOHA03-Adbyr5esO-0dIwjSw&usqp=CAU");
}
.footer-copyright {
    color: gold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.content-footer a{
    color: #fff;
}